

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



body {
    color: #5a5a5a;
}
:root {
    --primary: #00a0e3;
    --secondary: #00437a;
  }
h1,h2,h3,h4,h5,h6 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 15px;
}
h6{
    font-size: 12px;
}
p{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.content-text {
    font-size: 16px;
    color: #5a5a5a;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.f-12{
    font-size: 12px;
}
hr {
    color: var(--primary);
}
.button-primary {
    color: #fff;
    border-color: var(--primary);
    background-color: var(--primary);
}
.button-primary:hover {
    color: #fff;
    border-color: var(--secondary);
    background-color: var(--secondary);
}
.text-heading{
    font-size: 20px;
    font-weight: 600;
}
.text-small{
    font-size: 10px;
    font-weight: 600;
}
.text-sub-heading{
    font-size: 15px;
    font-weight: 600;
}
.detail-text{
    font-size: 15px;
    font-weight: 400;
    color: #838383;
}

a {
    color: var(--primary);
    text-decoration: none;
}
a:hover {
    color: var(--secondary);
}
#top-nav {
    width: 100%;
    background: var(--primary);
    /* height: 50px; */
    font-size: 16px;
}
#top-nav a {
    color: #fff;
    transition: 0.3s ease all;
    text-decoration: none;
}
#top-nav a:hover {
    color: var(--secondary);
    transition: 0.3s ease all;
}
#top-nav h1 {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 0px;
    color: #fff;
    border-right: 2px solid #fff;
    padding-right: 20px;
}
#top-nav .email {
    color: #fff !important;
    align-self: center;
    text-align: right;
}
#sec-nav {
    /* height: 80px; */
    background-color: #fff !important;
}
#sec-nav li {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
#sec-nav a:hover {
    color: var(--primary);
    
}
.back-image {
    background-size: cover;
    height: 19rem;
    background-position: center;
    aspect-ratio: 1/1;
}
.two-line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: unset !important;
  }
/* CUSTOMIZE THE CAROUSEL
/* header */
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
        inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}
.form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}
.header-social {
    color: #fff;
}
.logo {
    width: 10rem;
}
.drop-menue {
    z-index: 15;
    background: white;
    padding-left: 15px;
}
/* header end */
/* home */
.toTop {
    position: fixed;
    z-index: 99;
    bottom: 100px;
    right: 3%;
    transition: 0.3s ease all;
    background: var(--primary);
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    padding: 0;
    line-height: 35px;
    font-size: 14px;
    display: none;
    border-radius: 50%;
    border: none;
}
.toTop:hover {
    transition: 0.3s ease all;
    background: var(--secondary);
}


.popular-categories .slick-prev:before,
.popular-categories .slick-next:before,
.releated-product .slick-prev:before,
.releated-product .slick-next:before {
    color: var(--primary);
    background-color: white;
    font-size: 27px;
}
.popular-categories a, .product-listing a, .releated-product a{
    color: var(--primary);
    transition: 0.3s ease all;
}

.popular-categories a:hover .category-box, .product-listing a:hover .category-box, .releated-product a:hover .category-box{
    color: var(--secondary) !important;
    box-shadow: 2px 2px 5px 1px var(--secondary);
    transition: 0.3s ease all;
}
.category-box{
    box-shadow: 0px 0px 0px 0px var(--secondary)00;
    transition: 0.3s ease all;
}
/* .popular-categories a:hover .category-box , .product-listing a:hover .category-box, .releated-product a:hover .category-box {
    box-shadow: 2px 2px 5px 1px var(--secondary);
    transition: 0.3s ease all;
} */
/* home end */
/* product listing */
/* #product-section .banner-img{
    background-size: cover;
    height: 20rem;
    background-position: center;
    
} */
.product-listing p, .releated-product p{
    margin-bottom: 5px;
    font-size: 14px;
}   
.product-listing .back-image {
    background-size: cover;
    height: 19rem;
    background-position: center;
    aspect-ratio: 1/1;
    width: 100%;
}
/* single */
.releated-product .back-image {
    background-size: cover;
    height: 19rem;
    background-position: center;
    aspect-ratio: 1/1;
    width: 100%;
}
.info-tabs button{
    color: #5a5a5a;
}
.info-tabs button:hover{
    color: var(--secondary);
}
.info-tabs .active{
    color: var(--primary) !important;
}
li::marker{
    color: var(--primary);
}
/* single end */
/* product listing end */
/* footer */
#footer {
    background-color: #009fe377;
}
#footer a {
    color: #fff;
    transition: 0.5s ease all;
}
#footer a:hover {
    color: #0061ab;
    transition: 0.5s ease all;
}
.footer-menue {
    font-size: 20px;
    font-weight: 600;
}
.footer-menue span {
    padding: 10px 45px;
}

.footer-social {
    font-size: 20px;
    text-align: center;
    color: #fff;
}
#first-footer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* opacity: 0.8; */
}


.sec-footer {
    background-color: var(--primary);
    color: #fff;
    font-size: 15px;
}
/* footer end */
/* Carousel base class */
.carousel {
    margin-bottom: 2rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 32rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.marketing .col-lg-3 {
    margin-bottom: 1.5rem;
    /* text-align: center; */
}
.marketing h4 {
    font-weight: 600;
}

.marketing .col-lg-3 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.featurette-divider {
    margin: 2rem 0;
}

.featurette-heading {
    /* font-weight: 300; */
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -0.05rem;
}
/* product view */
.img_producto_container {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
    border: 1px solid #009fe300;
    border-radius: 8px;
    transition: 0.3s ease all;
  }
  .img_producto_container:hover{
    border: 1px solid #009fe382;
    transition: 0.3s ease all;
  }
  .img_producto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s ease-out;
  }
/* product view end */

@media (min-width: 640px) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    /* .featurette-heading {
        font-size: 50px;
    } */
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

@media (max-width: 992px) {
    .footer-menue {
        display: none;
    }
    .footer-info {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 640px) {
    .popular-categories .slick-prev, .releated-product .slick-prev{
        left: 8px;
    }
    .popular-categories .slick-next, .releated-product .slick-next {
        right: 15px;
    }
    /* home slider */
    .home-slider h1 ,#product-section h1{
        font-size: 15px;
    }
    .home-slider p, #product-section p {
        font-size: 11px;
    }
    .button-primary {
        font-size: 9px;
    }
    .carousel-item {
        height: 20rem;
    }
    .carousel-item > img {
        height: 20rem;
    }
    .logo {
        width: 8rem;
    }
    .img_producto_container {
        height: 350px;
      }
    /* home slider end */
}

  